@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: space-between;
    background-color: #252525; 
    height: 10vh;  
    width: 100%;
}
.logo{
    width: 10%;
    padding: 0.6% 0 1% 5.6%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin: 0.5%;
    align-items: center;
    cursor: pointer;
   
}
h3{
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rem 0 1rem 0.5rem;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
.redesSociais{
    display: flex;
    align-items: center;
    height: 6vh;
    width: 20vw;
    margin-top:0.5%;
    
}
.imgHeader{
    align-items:end;
    display:flex;
    width: 3.3vw;
    height: 3.5vh;
    padding: 1%;
    cursor: pointer;
    margin:2.5%;

}
.zap, .menu{
    display: none;
}
.dogUm{
    width: 100%;
    height: 100vh;
    position: relative;

}
h1{
    width: 15%;
    padding-left: 43%;
    font-size: 2.9em;
    display: flex;
    position: absolute;
    color:antiquewhite;
    bottom: 60%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logoSobreposta{
    bottom:40%;
    background-repeat: no-repeat;
    position: absolute;
    height: 15vh;
    width: 10%;
    left: 45%;
    display: flex;
}
.dogDois{
    width: 100%;
    height: 100vh;
    position: relative;
}
.Pergunta{
    width: 35%;
    left: 10%;
    font-size: 3.5em;
    display: flex;
    top:135%;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Descrição{
    left: 10%;
    width: 35%;
    height: 30%;
    font-size: 1.3em;
    display: flex;
    top:147%;
    position: absolute;
    color:#3A342F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.btnDois{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 12%;
    width: 15%;
    height: 5%;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    padding: 1.5%;
    font-size: 1.5em;
    display: flex;
    top:177%;
    position: absolute;
    background-color:#3A342F;
    color:#F4F2F3;
    cursor: pointer;

}
.dogTres{
    width: 98.8vw;
    height: 100vh;
    position: relative;
}
.Titulo{
    left: 50%;
    width: 30%;
    height: 50%;
    font-size: 3em;
    display: flex;
    top:236%;
    position: absolute;
    color:#FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Texto2{
    top:240%;
    color:#FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 50%;
    width: 35%;
    height: 50%;
    font-size: 1em;

}
.btnTres{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 52%;
    width: 15%;
    height: 5%;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    padding: 1.5%;
    font-size: 1.5em;
    display: flex;
    top:275%;
    position: absolute;
    color:#000000;
    cursor: pointer;
    background-color: #FFFFFF;

}
.preFtr{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    columns:3;
}
.apoio{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FD6A9A;
}
.pFtr{
    color: #FD6A9A;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.rodape{
    margin-top: 5%;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding:  10% 10% 10% 10%;
    background-color: #FD6A9A;
    columns: 3;
   
}
.Atendimento{
    font-size: 0.9em;
    width: 70%;
    display: flex;
    height: 90%;
}

.Parte1{
    font-size: 0.9em;
    display:inline-block;
    margin-top:20%;
    display: grid;
    width:85% ;
}
.info_1{
    cursor: pointer;
    font-size: 0.9em;
    height: 50%;
    margin:0 auto;
    width: 90%;
}
.Sobre{
    font-size: 0.9em;
    width: 60%;
    height: 60%;
    display: flex;
}
.Parte2{
    display:flex;
   display:inline-block;
   margin-top:20%;
    font-size: 0.9em;
    width: 90%;
}
.info_2{
    display: flex;
    cursor: pointer;
    font-size: 0.9em;
    height: 25%;
    width: 90%;
    margin:0 auto;
    
}
.und{
    font-size: 0.9em;
    width: 55%;
    display: flex;  
    height: 60%;

}
.Parte3{
    display:flex;
    font-size: 0.9em;
    width:85%;
    display:inline-block;
   margin-top:20%;
  
}
.info_3{
    display: flex;
    cursor: pointer;
    width:90% ;
    margin:0 auto;
    font-size: 0.9em;
    height: 25%;

} 
.footer-btn{
    display:flex;
    margin-top:19%;
    border:solid #675ce14e; 
    cursor:pointer;
    color: rgb(230, 214, 121);
    background-color: rgb(2, 74, 190);
} 

@media (max-width:764px){
    .Pergunta{
        font-size: 1.9rem;
        width: 45%;
        top:115%;
       
    }
    .Descrição{
        top:123%;
    }
    .btnDois{
        width:33%;
        padding-left: 7%;
        top:155%;
        cursor:pointer;
        padding: 1.5% 1% 1.5% 8%;
    }
    .Texto2{
        font-size: 1rem;
    }
    .btnTres{
        width:33%;
        padding-left: 5%;
       left:50%;
       top:280%;
       cursor:pointer;
       padding: 1.5% 1% 1.5% 8%;
     
    }
    .dogTres{
        width:99.9vw;
    }
}
@media (min-width:594px) and (max-width:638px){
    h1{
        width: 35%;
        padding-left: 40%;
        font-size: 2em;
        display: flex;
        position: absolute;
        color:antiquewhite;
        bottom: 58%;
    }
    .Descrição{
        left: 10%;
        width: 45%;
        height: 33%;
        font-size: 1.3em;
        top:140%;
    }
    .Pergunta{
        width: 45%;
        left: 10%;
        font-size: 1.5rem;
        top:125%;
    }
    .btnDois{
    left: 12%;
    width: 35%;
    height: 5%;
    font-size: 1em;
    top:177%;
    cursor:pointer;
    padding: 1.5% 1% 1.5% 8%;
    }
    .Titulo{
        left: 50%;
        width: 35%;
        height: 20%;
        font-size: 2em;
        top:230%;
        
    }
    .Texto2{
        top:239%;
        left: 50%;
        width: 45%;
        height: 50%;
        font-size: 1em;
    
    }
    .btnTres{
        left: 52%;
        width: 35%;
        height: 5%;
        padding: 1.5% 1% 1.5% 8%;
        font-size: 1em;
        top:280%;
        cursor:pointer;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    .Atendimento{
        font-size: 0.9em;
        height: 80%;
        margin-top: 10%;
        width: 99%;
        display: flex;
        flex-direction: column;

        
    }
    
    .Parte1{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;

    
    }
    .info_1{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .Sobre{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

    }
    .Parte2{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;  
        width: 99%;

    
    }
    .info_2{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .und{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

        
    }
    .Parte3{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;    
        width: 99%;

    }
    .info_3{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }   
}
@media (min-width:394px) and (max-width:593px){
    .imgHeader{
        display: none;
    }
    .zap{
        display: initial;
        width: 21%;
        height: 55%;
        margin-top:3%;
    }
    .dogUm{
       width: 100vw;
       height: 100vh;
    }
    h1{
        width: 95%;
        height: 15%;
        padding-left: 30%;
        font-size: 1.7em;
        color:antiquewhite;
        bottom: 57%;
    }
    .dogDois{
        width: 100vw;
       height: 100vh;
      
    }
    .Pergunta{
        font-size: 1.3rem;
        width: 45%;
        top:125%;
       
    }
    .Descrição{
        top:130%;
        height: 40%;
        font-size: 1em;
        width:43%;

    }
    .btnDois{
        width:43%;
        padding-left: 9%;
        top:173%;
        cursor:pointer;
        padding: 1.5% 1.5% 1.8% 10%;
        font-size: 1em;

    }
    .dogTres{
        width: 100vw;
        height: 100vh;
       
    }
    .Titulo{
        left: 40%;
        width: 60%;
        height: 10%;
        font-size: 1.5em;
        top:236%;       
    }
    .Texto2{
        top:240%;
        left: 43%;
        width: 55%;
        height: 33%;
        font-size: 1em;
   
    }
    .btnTres{
        left: 45%;
        width: 48%;
        height: 5%;
        padding: 1.5%;
        font-size: 1em;
        top:275%;
        cursor:pointer;
        padding: 1% 1.5% 1.8% 10%;
    }
    .preFtr{
        display: flex;
        font-size: 0.6em;
        width: 90%;
        height: 100%;
       margin-left: 5%;
    }
    .apoio{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;

    }
    .rodape{
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    .Atendimento{
        font-size: 0.9em;
        height: 80%;
        margin-top: 10%;
        width: 99%;
        display: flex;
        flex-direction: column;

        
    }
    
    .Parte1{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;

    
    }
    .info_1{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .Sobre{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

    }
    .Parte2{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;  
        width: 99%;

    
    }
    .info_2{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .und{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

        
    }
    .Parte3{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;    
        width: 99%;

    }
    .info_3{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }      
}
@media (min-width:393px) and (max-width:592px){
    .imgHeader{
        display: none;
    }
    .zap{
        display: initial;
        width: 21%;
        height: 55%;
        margin-top:3%;
    }
    .dogUm{
       width: 100vw;
       height: 100vh;
    }
    h1{
        width: 95%;
        height: 15%;
        padding-left: 30%;
        font-size: 1.7em;
        color:antiquewhite;
        bottom: 57%;
    }
    .dogDois{
        width: 100vw;
       height: 100vh;
      
    }
    .Pergunta{
        font-size: 1.3rem;
        width: 45%;
        top:125%;
       
    }
    .Descrição{
        top:130%;
        height: 40%;
        font-size: 1em;
        width:43%;

    }
    .btnDois{
        width:43%;
        padding-left: 9%;
        top:173%;
        cursor:pointer;
        padding: 1.5% 1.5% 1.8% 10%;
        font-size: 1em;

    }
    .dogTres{
        width: 100vw;
        height: 100vh;
       
    }
    .Titulo{
        left: 40%;
        width: 60%;
        height: 10%;
        font-size: 1.5em;
        top:236%;       
    }
    .Texto2{
        top:240%;
        left: 43%;
        width: 55%;
        height: 33%;
        font-size: 1em;
   
    }
    .btnTres{
        left: 45%;
        width: 48%;
        height: 5%;
        padding: 1.5%;
        font-size: 1em;
        top:275%;
        cursor:pointer;
        padding: 1% 1.5% 1.8% 10%;
    }
    .preFtr{
        display: flex;
        font-size: 0.6em;
        width: 90%;
        height: 100%;
       margin-left: 5%;
    }
    .apoio{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;

    }
    .rodape{
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    .Atendimento{
        font-size: 0.9em;
        height: 80%;
        margin-top: 10%;
        width: 99%;
        display: flex;
        flex-direction: column;

        
    }
    
    .Parte1{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;

    
    }
    .info_1{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .Sobre{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

    }
    .Parte2{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;  
        width: 99%;

    
    }
    .info_2{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .und{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

        
    }
    .Parte3{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;    
        width: 99%;

    }
    .info_3{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }   
}
@media (min-width:200px) and (max-width:392px){
    .imgHeader,.logo,.h3{
        display: none;
    }
    .menu{
        display: initial;
        width: 21%;
        height: 55%;
        margin-top:3%;
    }
    .zap{
        display: initial;
        width: 21%;
        height: 55%;
        margin-top:3%;
        background-color: rgba(121, 239, 121, 0.462);
    }
    .dogUm{
       width: 100vw;
       height: 100vh;
    }
    header{
        background-color: rgba(243, 229, 210, 0.872);
    }
    h1{
        width: 95%;
        height: 15%;
        padding-left: 30%;
        font-size: 1.7em;
        color:antiquewhite;
        bottom: 57%;
    }
    .dogDois{
        width: 100vw;
       height: 100vh;
      
    }
    .Pergunta{
        font-size: 1rem;
        width: 50%;
        top:165%;
       
    }
    .Descrição, .Texto2{
        display:none;

    }
    .btnDois{
        width:53%;
        top:173%;
        padding: 2.5% 3.5% 3.8% 10%;
        font-size: 1em;
        left:5%;
        cursor:pointer;
    }
    .dogTres{
        width: 100vw;
        height: 100vh;
       
    }
    .Titulo{
        left:43%;
        width: 60%;
        height: 10%;
        font-size: 1em;
        top:236%;       
    }
    .btnTres{
        left: 50%;
        width: 48%;
        height: 5%;
        padding: 1.5%;
        font-size: 1em;
        top:245%;
        padding: 2.5% 2.8% 3.5% 10%;
        cursor:pointer;
    }
    .preFtr{
        display: flex;
        font-size: 0.6em;
        width: 90%;
        height: 100%;
       margin-left: 5%;
    }
    .apoio{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;

    }
    .rodape{
        background-color: #FD6A9A;
    }
  
    .Atendimento,.Parte1,.info_1,.Sobre,.Parte2{
        display: none;
    }

    .info_2,.und,.Parte3,.info_3{
        display:none;
    }
}
