@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: space-between;
    background-color: #252525; 
    height: 10vh;  
    width: 100%;
}
.logo{
    width: 10%;
    padding: 0.6% 0 1% 5.6%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin: 0.5%;
    align-items: center;
    cursor: pointer;
   
}
h3{
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rem 0 1rem 0.5rem;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
.redesSociais{
    display: flex;
    align-items: center;
    height: 6vh;
    width: 20vw;
    margin-top:0.5%;
    
}
.imgHeader{
    align-items:end;
    display:flex;
    width: 3.3vw;
    height: 3.5vh;
    padding: 1%;
    cursor: pointer;
    margin:2.5%;

}
.zap, .menu{
    display: none;
}
.dogUm{
    background-image: url("./source/PrimeiroDog.png");
    background-size: 100% 100%;
    background-position:center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-inline: 2.5rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

h1{
    width: 33%;
    left: 35%;
    text-align: center;
    font-size: 2.9em;
    display: flex;
    position: absolute;
    color:antiquewhite;
    top: 9%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logoSobreposta{
    bottom:50%;
    background-repeat: no-repeat;
    position: absolute;
    height: 15vh;
    width: 10%;
    left: 45%;
    display: flex;
}
.dogDois{
    background-image: url("./source/SegundoDog.png");
    background-size: 100% 100%;
    background-position:center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-inline: 2.5rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Pergunta{
    width: 35%;
    left: 10%;
    font-size: 3.5em;
    display: flex;
    position: absolute;
    color:#252525;
    bottom: 60%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Descrição{
    left: 10%;
    width: 35%;
    height: 30%;
    font-size: 1.3em;
    display: flex;
    position: absolute;
    color:#252525;
    bottom: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.btnDois{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 12%;
    width: 17%;
    height: 5.2%;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    padding: 0.7% 1% 1.3% 5%;
    font-size: 1.2em;
    display: flex;
    bottom:25%;
    position: absolute;
    background-color:#3A342F;
    color:#F4F2F3;
    cursor: pointer;

}
.dogTres{
    background-image: url("./source/UltimoDog.png");
    background-size: 100% 100%;
    background-position:center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-inline: 2.5rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Titulo{
    left: 55%;
    width: 35%;
    height: 30%;
    font-size: 3.3em;
    display: flex;
    position: absolute;
    bottom: 48%;
    color:#FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Texto2{
    color:#FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 55%;
    width: 35%;
    height: 30%;
    font-size: 1.3em;
    display: flex;
    position: absolute;
    bottom: 30%;

}
.btnTres{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 55%;
    width: 20%;
    height: 5%;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    padding: 1.7% 2% 2.3% 4.5%;
    font-size: 1.5em;
    display: flex;
    bottom: 20%;
    position: absolute;
    color:#000000;
    cursor: pointer;
    background-color: #FFFFFF;
    font-weight: bold;
    border:none;

}
.preFtr{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    columns:3;
}
.apoio{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FD6A9A;
}
.pFtr{
    color: #FD6A9A;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.rodape{
    margin-top: 5%;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding:  10% 10% 10% 10%;
    background-color: #FD6A9A;
    columns: 3;
   
}
.Atendimento{
    font-size: 0.9em;
    width: 70%;
    display: flex;
    height: 90%;
}

.Parte1{
    font-size: 0.9em;
    display:inline-block;
    margin-top:20%;
    display: grid;
    width:85% ;
}
.info_1{
    cursor: pointer;
    font-size: 0.9em;
    height: 50%;
    margin:0 auto;
    width: 90%;
}
.Sobre{
    font-size: 0.9em;
    width: 60%;
    height: 60%;
    display: flex;
}
.Parte2{
    display:flex;
   display:inline-block;
   margin-top:20%;
    font-size: 0.9em;
    width: 90%;
}
.info_2{
    display: flex;
    cursor: pointer;
    font-size: 0.9em;
    height: 25%;
    width: 90%;
    margin:0 auto;
    
}
.und{
    font-size: 0.9em;
    width: 55%;
    display: flex;  
    height: 60%;

}
.Parte3{
    display:flex;
    font-size: 0.9em;
    width:85%;
    display:inline-block;
   margin-top:20%;
  
}
.info_3{
    display: flex;
    cursor: pointer;
    width:90% ;
    margin:0 auto;
    font-size: 0.9em;
    height: 25%;

} 
.footer-btn{
    display:flex;
    margin-top:19%;
    border:solid #675ce14e; 
    cursor:pointer;
    color: rgb(230, 214, 121);
    background-color: rgb(2, 74, 190);
} 

@media (max-width:764px){
    .Pergunta{
        font-size: 1.9rem;
        width: 45%;
        bottom:75%;
       
    }
    .Descrição{
        bottom:40%;
    }
    .btnDois{
        width:33%;
        padding-left: 7%;
        bottom:30%;
        cursor:pointer;
        padding: 1.5% 1% 1.5% 8%;
    }
    .Texto2{
        font-size: 1rem;
    }
    .btnTres{
        width:33%;
        padding-left: 5%;
       left:55%;
       bottom:29%;
       cursor:pointer;
       padding: 1.5% 1% 1.5% 8%;
     
    }
    .dogTres{
        width:99.9vw;
    }
}
@media (min-width:594px) and (max-width:638px){
    h1{
        width: 35%;
        padding-left: 30%;
        font-size: 2em;
        top: 10%;
        display: flex;
        position: absolute;
       
    }
    .Descrição{
        left: 10%;
        width: 45%;
        height: 33%;
        font-size: 1.3em;
        bottom:30%;
    }
    .Pergunta{
        width: 45%;
        left: 11%;
        font-size: 1.5rem;
        bottom:66%;
    }
    .btnDois{
    left: 12%;
    width: 35%;
    height: 5%;
    font-size: 1em;
    bottom:17%;
    cursor:pointer;
    padding: 1.5% 1% 1.5% 8%;
    }
    .Titulo{
        left: 55%;
        width: 45%;
        height: 20%;
        font-size: 1.5em;
        bottom:55%;
        
    }
    .Texto2{
        bottom:29%;
        left: 50%;
        width: 45%;
        height: 50%;
        font-size: 1em;
    
    }
    .btnTres{
        left: 52%;
        width: 35%;
        height: 5%;
        padding: 1.5% 1% 1.5% 8%;
        font-size: 1em;
        bottom:30%;
        cursor:pointer;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    .Atendimento{
        font-size: 0.9em;
        height: 80%;
        margin-top: 10%;
        width: 99%;
        display: flex;
        flex-direction: column;
    }
    
    .Parte1{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;

    
    }
    .info_1{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .Sobre{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

    }
    .Parte2{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;  
        width: 99%;

    
    }
    .info_2{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .und{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

        
    }
    .Parte3{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;    
        width: 99%;

    }
    .info_3{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }   
}
@media (min-width:394px) and (max-width:593px){
    .imgHeader{
        display: none;
    }
    .zap{
        display: initial;
        width: 21%;
        height: 55%;
        margin-top:3%;
    }
   
    h1{
        font-size: 1em;
        left: 1%;
        top: 17%;
        width: 2%;
    }
    .Pergunta{
        font-size: 1rem;
        width: 45%;
        top:57%;
        height: 10%;

    }
    .Descrição{
        bottom:30%;
        height: 40%;
        font-size: 1em;
        width:43%;
        left:5%;
    }
    .btnDois{
        width:43%;
        left:5%;
        padding-left: 9%;
        top:173%;
        cursor:pointer;
        padding: 1.5% 1.5% 1.8% 10%;
        font-size: 1em;

    }
    .dogTres{
        width: 100vw;
        height: 100vh;
       
    }
    .Titulo{
        left: 40%;
        width: 60%;
        height: 12%;
        font-size: 1em;
        bottom:36%; 
             
    }
    .Texto2{
        top:240%;
        left: 43%;
        width: 55%;
        height: 33%;
        font-size: 1em;
        
   
    }
    .btnTres{
        left: 45%;
        width: 48%;
        height: 5%;
        padding: 1.5%;
        font-size: 1em;
        top:275%;
        cursor:pointer;
        padding: 1% 1.5% 1.8% 10%;
    }
    .preFtr{
        display: flex;
        font-size: 0.6em;
        width: 90%;
        height: 100%;
       margin-left: 5%;
    }
    .apoio{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;

    }
    .rodape{
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    .Atendimento{
        font-size: 0.9em;
        height: 80%;
        margin-top: 10%;
        width: 99%;
        display: flex;
        flex-direction: column;
        
    }
    
    .Parte1{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;

    
    }
    .info_1{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .Sobre{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

    }
    .Parte2{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;  
        width: 99%;

    
    }
    .info_2{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .und{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

        
    }
    .Parte3{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;    
        width: 99%;

    }
    .info_3{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }      
}
@media (min-width:393px) and (max-width:592px){
    .imgHeader{
        display: none;
    }
    .zap{
        display: initial;
        width: 21%;
        height: 55%;
        margin-top:3%;
    }
    .dogUm{
       width: 100vw;
       height: 100vh;
    }
    h1{
        width: 95%;
        height: 15%;
        padding-left: 30%;
        font-size: 1.7em;
        color:antiquewhite;
        bottom: 57%;

    }
    .dogDois{
        width: 100vw;
       height: 100vh;
      
    }
    .Pergunta{
        font-size: 1.3rem;
        width: 40%;
        height: 7%;
        top:27%;
       
    }
    .Descrição{
        top: 35%;
        height: 35%;
        font-size: 1em;
        width:43%;


    }
    .btnDois{
        width:43%;
        padding-left: 9%;
        top:73%;
        cursor:pointer;
        padding: 1.5% 1.5% 1.8% 10%;
        font-size: 1em;

    }
    .dogTres{
        width: 100vw;
        height: 100vh;
       
    }
    .Titulo{
        left: 45%;
        width: 50%;
        height: 10%;
        font-size: 1.5em;
        top:30%;  
    }
    .Texto2{
        top:40%;
        left: 43%;
        width: 55%;
        height: 33%;
        font-size: 1em;     
   
    }
    .btnTres{
        left: 45%;
        width: 48%;
        height: 5%;
        padding: 1.5%;
        font-size: 1em;
        top:75%;
        cursor:pointer;
        padding: 4% 5.5% 5.8% 15%;
    }
    .preFtr{
        display: flex;
        font-size: 0.6em;
        width: 90%;
        height: 100%;
       margin-left: 5%;
    }
    .apoio{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;

    }
    .rodape{
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    .Atendimento{
        font-size: 0.9em;
        height: 80%;
        margin-top: 10%;
        width: 99%;
        display: flex;
        flex-direction: column;

        
    }
    
    .Parte1{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;

    
    }
    .info_1{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .Sobre{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

    }
    .Parte2{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;  
        width: 99%;

    
    }
    .info_2{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }
    .und{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 99%;

        
    }
    .Parte3{
        display: flex;
        flex-direction: column;
        font-size: 0.9em;    
        width: 99%;

    }
    .info_3{
        cursor: pointer;
        display:flex;
        flex-direction: column;
        font-size: 0.9em;
        width: 99%;
        height: 40%;
        margin-right: 50px;
    }   
}
@media (min-width:200px) and (max-width:392px){
    .imgHeader,.logo,.h3{
        display: none;
    }
    .menu{
        display: initial;
        width: 21%;
        height: 55%;
        margin-top:3%;
    }
    .zap{
        display: initial;
        width: 21%;
        height: 10%;
        left:59%;
        position:fixed;
        z-index: 3;
        cursor:pointer;
        background-color: rgba(121, 239, 121, 0.462);
    }
    
    header{
        background-color: rgba(243, 229, 210, 0.872);
    }
    h1{
        width: 65%;
        height: 15%;
        left: 20%;
        font-size: 1.3em;
        color:antiquewhite;
        top: 20%;

    }

    .Pergunta{
        font-size: 1rem;
        width: 50%;
        top:35%;
        height: 10%;
        left:5%;
       
    }
    .Descrição,.btnDois {
        display: none;

    }
    .Titulo{
        left:43%;
        width: 50%;
        height: 10%;
        font-size: 1em;
        top:36%;   
        
    }
    .preFtr{
        display: flex;
        flex-direction: column;
        font-size: 0.5em;
        width: 90%;
        height: 100%;
       margin-left: 5%;

    }
    .apoio{
        font-size: 0.9em;
        height: 80%;
        display: flex;
        flex-direction: column;

    }
    .rodape{
        background-color: #FD6A9A;
    }
  
    .Atendimento,.Parte1,.info_1,.Sobre,.Parte2{
        display: none;
    }

    .info_2,.und,.Parte3,.Texto2,.info_3,.btnTres{
        display:none;
    }
}
